<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>signingStyle</key>
	<string>manual</string>
	<key>method</key>
	<string>development</string>
	<key>teamID</key>
	<string>D5G53B2K3T</string>
	<key>signingCertificate</key>
	<string>iOS Developer</string>
	<key>provisioningProfiles</key>
	<dict>
                <key>kind</key>
                <string>software-package</string>
                <key>url</key>
                <string>https://192.168.53.35:4433/ios/OKEx.ipa</string>
        </dict>
	<dict>
		<key>com.okex.OKExAppstoreFull</key>
		<string>OKExAppstoreFull-dev-mp</string>
	</dict>
	<key>iCloudContainerEnvironment</key>
	<string>Development</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>compileBitcode</key>
	<false/>
</dict>
</plist>
